// [slider] {
//     width: 300px;
//     position: relative;
//     height: 5px;
//     margin: 45px 0 10px 0;
// }

// [slider]>div {
//     position: absolute;
//     left: 13px;
//     right: 15px;
//     height: 5px;
// }

// [slider]>div>[inverse-left] {
//     position: absolute;
//     left: 0;
//     height: 5px;
//     border-radius: 10px;
//     background-color: #CCC;
//     margin: 0 7px;
// }

// [slider]>div>[inverse-right] {
//     position: absolute;
//     right: 0;
//     height: 5px;
//     border-radius: 10px;
//     background-color: #CCC;
//     margin: 0 7px;
// }


// [slider]>div>[range] {
//     position: absolute;
//     left: 0;
//     height: 5px;
//     border-radius: 14px;
//     background-color: #d02128;
// }

// [slider]>div>[thumb] {
//     position: absolute;
//     top: -7px;
//     z-index: 2;
//     height: 20px;
//     width: 20px;
//     text-align: left;
//     margin-left: -11px;
//     cursor: pointer;
//     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
//     background-color: #FFF;
//     border-radius: 50%;
//     outline: none;
// }

// [slider]>input[type=range] {
//     position: absolute;
//     pointer-events: none;
//     -webkit-appearance: none;
//     z-index: 3;
//     height: 14px;
//     top: -2px;
//     width: 100%;
//     opacity: 0;
// }

// div[slider]>input[type=range]:focus::-webkit-slider-runnable-track {
//     background: transparent;
//     border: transparent;
// }

// div[slider]>input[type=range]:focus {
//     outline: none;
// }

// div[slider]>input[type=range]::-webkit-slider-thumb {
//     pointer-events: all;
//     width: 28px;
//     height: 28px;
//     border-radius: 0px;
//     border: 0 none;
//     background: red;
//     -webkit-appearance: none;
// }

// div[slider]>input[type=range]::-ms-fill-lower {
//     background: transparent;
//     border: 0 none;
// }

// div[slider]>input[type=range]::-ms-fill-upper {
//     background: transparent;
//     border: 0 none;
// }

// div[slider]>input[type=range]::-ms-tooltip {
//     display: none;
// }

// [slider]>div>[sign] {
//     // opacity: 0;
//     opacity: 1;
//     position: absolute;
//     margin-left: -11px;
//     top: -39px;
//     z-index: 3;
//     background-color: #d02128;
//     color: #fff;
//     width: 28px;
//     height: 28px;
//     border-radius: 28px;
//     -webkit-border-radius: 28px;
//     align-items: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     text-align: center;
// }

// [slider]>div>[sign]:after {
//     position: absolute;
//     content: '';
//     left: 0;
//     border-radius: 16px;
//     top: 19px;
//     border-left: 14px solid transparent;
//     border-right: 14px solid transparent;
//     border-top-width: 16px;
//     border-top-style: solid;
//     border-top-color: #d02128;
// }

// [slider]>div>[sign]>span {
//     font-size: 12px;
//     font-weight: 700;
//     line-height: 28px;
// }

// [slider]:hover>div>[sign] {
//     opacity: 1;
// }



// Dos


.range-slider {
    margin: auto;
    // text-align: center;
    // position: relative;
    height: 6em;
}

.range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}

input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #ff6347;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
}

input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}